body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}


#title{
  font-size: 35px;
  margin: 0 auto;
  color: white;
  bottom: 0;
  position: absolute;
}

#header {
  background-image: url(header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 30vh;
  background-position: center center;
  position: relative;
}

#nav {
    background-color: #222;
}
#nav_wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
}
#nav ul li {
    width: 100%
}
#nav ul li:hover {
    background-color: #333;
}
#nav ul li a, visited {
    color: #CCC;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    border: 5px solid #222;
    border-top: 0;
    margin-left: -5px;
    z-index: 100;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
}

#picContainer {
  float: left;
  width: 100%;
}

.pictureSelection {
  height: 100%;
  width: 100%;
  margin: 2em;
  float: left;
}

.pictureImage{
  max-width: 250px;
  max-height: 250px;
}

.pictureText {
  word-wrap: break-word;
}

#searchContainer {
  margin-top: 1em;
  width: 100%;
}

#searchBox {
  width: 100%;
}


@media (min-width: 600px) {
  .pictureSelection {
    height: 200px;
    width: 200px;
  }
  #nav ul li {
    display: inline-block;
    width: unset;
  }
  #picContainer {
    width: 80%;
  }

  .pictureSelection {
    float: none;
    display:inline-block;
  }

  #searchContainer {
    float:right;
  }

  #searchContainer {
    width: 20%;
    float: right;
  }
}
